<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="stylesheets/style.css">
<style>
  body { padding-top:50px; }
</style>

<title> <%= title %> </title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<meta content="Web Design, COMP231" name="keywords">
<meta content="A simple webpage design" name="description">