<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <div class="text-center text-muted">
            <p>
                <blockquote>"Be smart, be kind, be curious"</blockquote> - Dênio Barbosa Júnior
            </p>
        </div>
        <h3 class="text-center text-muted">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/about">List of recipes</a>
            <a class="nav-link" href="/projects">Projects</a>
            <a class="nav-link" href="/services">Services</a>
            <a class="nav-link" href="/contact">Contact</a>
            <a class="nav-link" href="/login">Login</a>
        </h3>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>