<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <div  class="text-center text-muted" >
            <h1 class="text-center text-muted" >Contact</h1>
                <main class="text-center text-muted" >
                    <form class="form" action="/register_user/info" method="POST">
                        <fieldset>
                            <legend><b>User Information</b></legend>
                            <div>
                                <label for="username"><b>Username: </b></label>
                                <input class="contact_input" id="username" name="username" size="35" type="text" required="required" tabindex="1">
                            </div>
                            <div>
                                <label for="password"><b>Password: </b></label>
                                <input class="contact_input" id="password" name="password" size="35" type="text" required="required" tabindex="5">
                            </div>
                            <div>
                                <label for="email"><b>Email: </b></label>
                                <input class="contact_input" id="email" name="email" size="35" type="email" required="required" tabindex="7">
                            </div>
                            <div>
                                <button type="submit" name="btnSubmit" value="Complete Registration" tabindex="36">Confirm</button>
                                <button type="reset" name="btnReset" value="Clear Form" onclick="return confirm('Do you really want to reset?')" tabindex="39">Reset</button>
                            </div>
                        </fieldset>
                    </form>
                </main>
            </div>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>